
.img_logo {
  height: 10vh;
}

.navbar-nav li ul {
  display: none;
}

.navbar-nav li:hover ul {
  display: block;
}

.navbar-light,
.dropdown-menu {
  background-color: #f1f2ec;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  color: #ff5600;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ff9f00;
}
